.title_ct img, .title_ct h3{
    float:left;
}
.title_ct h3{
    margin-top:12px !important;
    margin-left: 13px;
    letter-spacing: 2px;
}
.address_ct p{
    margin-top: -20px;
}

.box-form{
    border: 1px solid #000;
    width: 137px;
    padding: 3px;
    text-align: center;
    margin-top: -50px;
    float: right;
}